[2]
	# Maximum Power in watts
	p_mpp = 190
	
	# Nominal operating cell temperature in degree Celsius
	noct = 46
	
	# MPP temperature coefficient in percent per Kelvin
	temp_coeff = -0.48
	
	# Number of modules in the installation
	n = 54
	
	# Module tilt from horizontal in degree
	tilt = 28
	
	# Module azimuth from north in degree
	azimuth = 208
	
	# Module ground reflectance, typically 0.1-0.4 for surfaces on ground
	albedo = 0.18
